.style-sheet-container{
    background-color: #282c34;
    color: #fff;
    padding: 40px;
    font-family: Lato;
    text-align: center;
    height: 100vh;
}
.logo{
    width: 200px;
}
.header{
    color: purple;
}
.primary{
    color: salmon;
}
.secondary{
    color:red;
}